@import '../variables.scss';

.app-container {
    background-color: $primary;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .main-container {
        height: 112vh;
        display: flex;
        align-items: center;

        .sidebar {
            position: fixed;
            top: 45%;
            left: 3%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $secondary;
            }
            .active {
                background-color: rgba(201, 242, 153, 0.25);
            }
        }

        .name-container {
            height: 100%;
            @include center-right;
            text-align: end;
            width: 20%;
            font-family: thirdFont;
            font-size: 2.75rem;
            color: $pale-green;
        }

        .portfolio-container {
            height: 100%;
            @include center-left;
            text-align: start;
            width: 80%;
            font-family: primaryFont;
            font-size: 13rem;
            color: $secondary;
            text-transform: uppercase;
        }
    }

    .works-container {
        .works-header {
            font-family: primaryFont;
            font-size: 10rem;
            color: $secondary;
            width: 100%;
            padding-left: 10rem;
        }
        .algomem-container {
            height: 100vh;
            @include center-horizontally;
                .algo-div {
                    border-radius: 5px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-size: cover;
                    height: 80%;
                    min-width: 30%;
                    margin-right: 1rem;
                    box-shadow: 0 4px 10px 1px rgba(2, 2, 2, 0.25);
                }
            .algomem-intro {
                @include column;
                margin-top: 1rem;
                background-color: rgba(201, 242, 153, 0.1);
                box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                width: 65%;
                height: 70%;
                .row {
                    @include row;
                    height: 60%;
                    padding: 2rem;
                    .description {
                        @include column;
                        width: 70%;
                        text-align: end;
                        color: $secondary;
                        text-transform: uppercase;
                        margin-right: 2rem;
                        align-items: end;
                        .project-name {
                            font-size: 2.75rem;
                            font-family: thirdFont;
                            margin-bottom: 2.5rem;
                        }
                        .small-text{
                            font-size: 0.5rem;
                            font-family: thirdFont;
                            width: 40%;
                        }
                    }
                    .algomem-0 {
                        background-image: url(../assets/videos/algomem_home.gif);
                        width: 75%;
                        height: 100%;
                        margin-right: 3rem;
                        box-shadow: 0 4px 20px 1px rgba(201, 242, 153, 0.5);
                    }
                }
                .works {
                    @include row;
                    padding-bottom: 1rem;
                    overflow: hidden;
                    position: relative;
                    margin-right: 3rem;
                    margin-left: 3rem;
                    height: 40%;
                    z-index: 0;
                    .algomem-1 {
                        background-image: url(../assets/videos/algomem-1.gif);
                    }
                    .algomem-2 {
                        background-image: url(../assets/videos/algomem-2.gif);
                    }
                    .algomem-3 {
                        background-image: url(../assets/videos/algomem-3.gif);
                    }
                    .algomem-4 {
                        background-image: url(../assets/videos/algomem-4.gif);
                    }
                    .algomem-5 {
                        background-image: url(../assets/videos/algomem-5.gif);
                    }
                    .algomem-6 {
                        background-image: url(../assets/videos/algomem-6.gif);
                    }
                }
            }
        }
        .todo-maker-container {
            height: 100vh;
            @include center-horizontally;
            .todo-maker {
                max-width: 65%;
                height: 70%;
                clip-path: polygon(
                    0% 60.1%,
                    0% 0%,
                    100% 0%,
                    100% 100%,
                    40% 100%,
                    40% 86.7%, 
                    26.7% 86.7%,
                    26.7% 73.4%,
                    13.4% 73.4%,
                    13.4% 60.1%);
                background-color: $secondary;
                border-radius: 10px 10px 10px 0;
                position: relative;
                @include column;
                .todo-maker-gif {
                    border-radius: 10px;
                    position: relative;
                    width: 100%;
                    height: 65%;                
                    background-size: cover;
                    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                }
                .row {
                    @include row;
                    height: 40%;
                    .todo-maker-title {
                        padding-top: 2rem;
                        width: 25%;
                        font-size: 4.2rem;
                        color: $primary;
                        font-family: thirdFontBold;
                        text-align: end;
                        text-transform: uppercase;
                    }
                    .todo-maker-desc {
                        padding-top: 3rem;
                        width: 20%;
                        color: $primary;
                        font-family: thirdFont;
                        font-size: 14px;
                        margin-left: 1rem;
                    }
                    .todo-maker-2 {
                        width: 55%;
                        display: flex;
                        justify-content: end;
                        .todo-maker-2-1 {
                            background-image: url(../assets/videos/todomaker-2.1.gif);
                            top: 2rem;
                            right: -2rem;
                            z-index: 0;
                        }
                        .todo-maker-2-2 {
                            background-image: url(../assets/videos/todomaker-2.2.gif);
                            top: 8rem;
                            right: 2rem;
                            z-index: 1;
                        }
                    }
                }
                .todo-maker-1 {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    justify-content: end;
                    .todo-maker-1-1 {
                        background-image: url(../assets/videos/todomaker-1.1.gif);
                        top: 2rem;
                        right: 7rem;
                        z-index: 0;
                        width: 27.5%;
                        height: 45%;
                    
                    }
                    .todo-maker-1-2 {
                        background-image: url(../assets/videos/todomaker-1.2.gif);
                        top: 8rem;
                        right: 11rem;
                        z-index: 1;
                        width: 27.5%;
                        height: 45%;
                    
                    }
                }
            }
        }
        .robotic-container {
            height: 100vh;
            @include center-horizontally;
            .robotic {
                max-width: 65%;
                height: 70%;
                @include row;
                background: linear-gradient(to left, $secondary, $primary);
                border-radius: 10px;
                .robotic-title, .robotic-desc {
                    @include row;
                    width: 12%;
                    align-items: flex-end;
                    text-transform: uppercase;
                    color: $secondary;
                    font-family: thirdFont;
                    font-size: 3.5rem;
                    gap: 1rem;
                }
                .robotic-desc {
                    width: 12%;
                    font-size: 0.6rem;
                    text-transform: none;
                    padding-bottom: 1rem;
                }
                .robotic-gifs {
                    @include column;
                    @include center-center;
                    width: 76%;
                    height: 100%;
                    margin-left: 1rem;
                    gap: 7.5%;
                    padding: 0 2rem;
                    .row {
                        @include row;
                        height: 30%;
                        width: 100%;
                        gap: 7.5%;
                    }
                    .robotic-gif {
                        @include center-center;
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                        padding: 0;
                    }
                    .robotic-1 {
                        background-image: url("../assets/videos/robotic-1.gif");
                    }
                    .robotic-2 {
                        background-image: url("../assets/videos/robotic-2.gif");
                    }
                    .robotic-3 {
                        background-image: url("../assets/videos/robotic-4.gif");
                    }
                    .robotic-4 {
                        background-image: url("../assets/videos/robotic-6.gif");
                    }
                }
            }
        }
    }
    .about-container {
        height: 100vh;
        display: flex;
        font-family: primaryFont;
        font-size: 10rem;
        color: $secondary;
        padding-left: 10rem;
    }
}