<div class="app-container">
    <section class="main-container">
      <div class="sidebar">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="name-container">Vass<br>Dorot<br>tya</div>
      <div class="portfolio-container">Portfolio</div>
    </section>
    <section class="works-container">
      <div class="works-header">
        works
      </div>
      <div>
        <div class="algomem-intro">
            <div class="row">
                <div class="description">
                    <div class="project-name">Algomem</div>
                    <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus sodales dapibus. Sed sed diam mollis ante cursus mollis. Proin sed nulla et ipsum maximus volutpat quis id dui. Morbi tristique ipsum non dui sollicitudin pretium. Integer sit amet dignissim massa, et aliquam massa. Etiam tempor quam sed turpis ultrices sagittis. Nam aliqu</div>
                  </div>
                  <div class="algomem-0 algo-div"></div>
            </div>
          <div class="works">
            <div class="algomem-1 algo-div"></div>
            <div class="algomem-2 algo-div"></div>
            <div class="algomem-3 algo-div"></div>
            <div class="algomem-4 algo-div"></div>
            <div class="algomem-5 algo-div"></div>
            <div class="algomem-6 algo-div"></div>
        </div>
        </div>
      </div>
      <div class="todo-maker-container"></div>
    </section>
    <section class="about-container">
      about
    </section>
  </div>