<div class="app-container">
    <section class="main-container">
      <div class="sidebar">
        @for (site of siteIndexes; track site; let idx = $index) {
          <div [class.active]="activeSite === idx" onclick="scrollToSection(site)"></div>
        }
      </div>
      <div class="name-container">Vass<br>Dorot<br>tya</div>
      <div class="portfolio-container">
        <p>p</p>
        <p class="title-animate-2">o</p>
        <p class="title-animate-3">r</p>
        <p class="title-animate-4">t</p>
        <p class="title-animate-5">f</p>
        <p class="title-animate-6">o</p>
        <p class="title-animate-7">l</p>
        <p class="title-animate-8">i</p>
        <p class="title-animate-9">o</p>
      </div>
    </section>
    <section class="works-container">
      <div class="works-header">
        <p class="animate-1">w</p>
        <p class="animate-2">o</p>
        <p class="animate-3">r</p>
        <p class="animate-4">k</p>
        <p class="animate-5">s</p>
      </div>
      <div class="algomem-container">
        <div class="algomem-intro">
            <div class="row">
                <div class="description">
                    <div class="project-name">Algomem</div>
                    <div class="small-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus sodales dapibus. Sed sed diam mollis ante cursus mollis. Proin sed nulla et ipsum maximus volutpat quis id dui. Morbi tristique ipsum non dui sollicitudin pretium. Integer sit amet dignissim massa, et aliquam massa. Etiam tempor quam sed turpis ultrices sagittis. Nam aliqu</div>
                  </div>
                  <div class="algomem-0 algo-div"></div>
            </div>
          <div class="works">
            <div class="back">
              <img src="../assets/logos/array-right.png"/>
            </div>
            <div class="gifs">
              <div class="algomem-1 algo-div"></div>
              <div class="algomem-2 algo-div"></div>
              <div class="algomem-3 algo-div"></div>
              <div class="algomem-4 algo-div"></div>
              <div class="algomem-5 algo-div"></div>
              <div class="algomem-6 algo-div"></div>
            </div>
            <div class="next">
              <img src="../assets/logos/array-right.png"/>
            </div>
        </div>
        </div>
      </div>
      <div class="todo-maker-container">
        <div class="todo-maker">
          <div class="row">
            <div class="todo-maker-title">Todo<br> mak<br>er</div>
            <div class="todo-maker-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus.</div>
            <div class="todo-maker-2">
                <div class="todo-maker-2-1 todo-maker-gif"></div>
                <div class="todo-maker-2-2 todo-maker-gif"></div>
            </div>
        </div>
        <div class="todo-maker-1">
            <div class="todo-maker-1-1 todo-maker-gif"></div>
            <div class="todo-maker-1-2 todo-maker-gif"></div>
        </div>
        </div>
      </div>
      <div class="robotic-container">
        <div class="robotic">
          <div class="robotic-title">
            <div>R<br>o<br>b<br>o<br>t<br>i<br>c</div>
            <div>L<br>o<br>g<br>i<br>c<br>s</div>
          </div>
          <div class="robotic-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus sodales dapibus. Sed sed diam mollis ante cursus mollis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus sodales dapibus. Sed sed diam mollis ante cursus mollis.
          </div>
            <div class="robotic-gifs">
              <div class="row">
                <div class="robotic-1 robotic-gif"></div>
                <div class="robotic-2 robotic-gif"></div>
              </div>
              <div class="row">              
                <div class="robotic-3 robotic-gif"></div>
                <div class="robotic-4 robotic-gif"></div>
            </div>
            </div>
          </div>
      </div>
    </section>
    <section class="about-container">
      <div class="about-title">
        <p class="animate-1">a</p>
        <p class="animate-2">b</p>
        <p class="animate-3">o</p>
        <p class="animate-4">u</p>
        <p class="animate-5">t</p>
      </div>
      <div class="about">
        <div class="column">
          <div class="contacts">
            <div class="title">Contacts</div>
            <div class="contact-data">
              <img src="../assets/logos/email.png"/>
              <p>vassdorottya&#64;email.com</p>
            </div>
            <div class="contact-data">
              <img src="../assets/logos/phone.png"/>
              <p>+36 30 556 8776</p>
            </div>
          </div>
          <div class="social">
            <div class="title">Social media</div>
            <div class="media-data">
              <div class="face social-icon"></div>
              <div class="insta social-icon"></div>
              <div class="linkedin social-icon"></div>
              <div class="github social-icon"></div>
            </div>
          </div>
        </div>
        <div class="column">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac orci ac felis venenatis rhoncus ut at mauris. Nam porta risus metus, at varius arcu semper consectetur. In quis interdum arcu. Curabitur at purus non purus sodales dapibus. Sed sed diam mollis ante cursus mollis. Proin sed nulla et ipsum maximus volutpat quis id dui. Morbi tristique ipsum non dui sollicitudin pretium. Integer sit amet dignissim massa, et aliquam massa. Etiam tempor quam sed turpis ultrices sagittis. Nam aliquam dapibus sem id sagittis. Mauris vitae nulla quis dolor finibus aliquam nec vitae odio. Maecenas ac est eget nibh tincidunt mattis volutpat vitae ligula. Duis ultrices cursus risus, vel accumsan ante molestie ac. Quisque nec nisi erat. Vestibulum dictum erat quis consectetur imperdiet. Aliquam erat volutpat.
          <br><br>
  Vivamus rutrum eget ex et tempor. Praesent varius lacinia odio ut malesuada. Sed ac dui scelerisque, scelerisque odio nec, rhoncus tellus. Maecenas finibus tortor posuere eros vestibulum malesuada. Vestibulum luctus interdum lacus, id pellentesque velit tempor id. Proin vel lacinia risus. Aliquam erat volutpat. Aliquam bibendum tincidunt consectetur. Donec euismod sapien sed posuere condimentum. Quisque tortor augue, vehicula eleifend purus vel, egestas elementum est.
        </div>
      </div>
    </section>
  </div>