@import '../variables.scss';

.app-container {
    background-color: $primary;
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;

    .main-container {
        height: 112vh;
        display: flex;
        align-items: center;

        .sidebar {
            position: fixed;
            top: 45%;
            left: 3%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $secondary;
            }
            .active {
                background-color: rgba(201, 242, 153, 0.25);
            }
        }

        .name-container {
            height: 100%;
            @include center-right;
            text-align: end;
            width: 20%;
            font-family: thirdFont;
            font-size: 2.75rem;
            color: $pale-green;
        }

        .portfolio-container {
            height: 100%;
            @include center-left;
            text-align: start;
            width: 80%;
            animation-name: vibrating;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            p {
                font-family: primaryFont;
                font-size: 13rem;
                color: $secondary;
                text-transform: uppercase;
                animation-name: growing;
                animation-duration: 1s;
                animation-iteration-count: 1;
            }
            .title-animate-2 {
                animation-delay: 0.1s;
            }
            .title-animate-3 {
                animation-delay: 0.2s;
            }
            .title-animate-4 {
                animation-delay: 0.3s;
            }
            .title-animate-5 {
                animation-delay: 0.4s;
            }
            .title-animate-6 {
                animation-delay: 0.5s;
            }
            .title-animate-7 {
                animation-delay: 0.6s;
            }
            .title-animate-8 {
                animation-delay: 0.7s;
            }
            .title-animate-9 {
                animation-delay: 0.8s;
            }

        }
    }

    .animate-1, 
    .animate-2, 
    .animate-3, 
    .animate-4, 
    .animate-5 {
        transform: scaleX(0);
    }

    .works-container {
        .works-header {
            @include row;
            font-family: primaryFont;
            font-size: 10rem;
            color: $secondary;
            width: 100%;
            padding-left: 10rem;
            p {
                margin: 0;
            }
        }
        .algomem-container {
            height: 100vh;
            @include center-horizontally;
                .algo-div {
                    border-radius: 5px;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    background-size: cover;
                    height: 80%;
                    min-width: 30%;
                    margin-right: 1rem;
                    box-shadow: 0 2px 10px 1px rgba(201, 242, 153, 0.2);
                }
            .algomem-intro {
                @include column;
                margin-top: 1rem;
                background-color: rgba(201, 242, 153, 0.1);
                box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                width: 65%;
                height: 70%;
                .row {
                    @include row;
                    height: 60%;
                    padding: 2rem;
                    align-items: center;
                    .description {
                        @include column;
                        width: 70%;
                        text-align: end;
                        color: $secondary;
                        text-transform: uppercase;
                        margin-right: 2rem;
                        align-items: end;
                        .project-name {
                            font-size: 2.75rem;
                            font-family: thirdFont;
                            margin-bottom: 2.5rem;
                        }
                        .small-text{
                            font-size: 0.5rem;
                            font-family: thirdFont;
                            width: 70%;
                        }
                    }
                    .algomem-0 {
                        background-image: url(../assets/videos/algomem_home.gif);
                        width: 100%;
                        height: 90%;
                        margin-right: 3rem;
                        box-shadow: 0 4px 20px 1px rgba(201, 242, 153, 0.5);
                        opacity: 0.5;
                        &:hover {
                            opacity: 1;
                            transition: 0.3s ease-in;
                        }
                    }
                }
                .works {
                    @include row;
                    padding-bottom: 1rem;
                    overflow: hidden;
                    height: 40%;
                    width: 100%;
                    z-index: 0;
                    .gifs {
                        @include row;
                        width: 100%;
                        overflow: hidden;
                        .algomem-1 {
                            background-image: url(../assets/videos/algomem-1.gif);
                        }
                        .algomem-2 {
                            background-image: url(../assets/videos/algomem-2.gif);
                        }
                        .algomem-3 {
                            background-image: url(../assets/videos/algomem-3.gif);
                        }
                        .algomem-4 {
                            background-image: url(../assets/videos/algomem-4.gif);
                        }
                        .algomem-5 {
                            background-image: url(../assets/videos/algomem-5.gif);
                        }
                        .algomem-6 {
                            background-image: url(../assets/videos/algomem-6.gif);
                        }
                    }
                    .back, .next {
                        width: 3rem;
                        cursor: pointer;
                        @include center-center;
                        img {
                            width: 20%;
                        }
                    }
                    .back img {
                        display:  none;
                        transform: rotate(180deg);
                    }
                }
            }
        }
        .todo-maker-container {
            height: 100vh;
            @include center-horizontally;
            .todo-maker {
                max-width: 65%;
                height: 70%;
                clip-path: polygon(
                    0% 60.1%,
                    0% 0%,
                    100% 0%,
                    100% 100%,
                    40% 100%,
                    40% 86.7%, 
                    26.7% 86.7%,
                    26.7% 73.4%,
                    13.4% 73.4%,
                    13.4% 60.1%);
                background-color: $secondary;
                border-radius: 10px 10px 10px 0;
                position: relative;
                @include column;
                .todo-maker-gif {
                    border-radius: 10px;
                    position: relative;
                    width: 100%;
                    height: 65%;                
                    background-size: cover;
                    box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                }
                .row {
                    @include row;
                    height: 40%;
                    .todo-maker-title {
                        padding-top: 2rem;
                        width: 25%;
                        font-size: 4.2rem;
                        color: $primary;
                        font-family: thirdFontBold;
                        text-align: end;
                        text-transform: uppercase;
                    }
                    .todo-maker-desc {
                        padding-top: 3rem;
                        width: 20%;
                        color: $primary;
                        font-family: thirdFont;
                        font-size: 14px;
                        margin-left: 1rem;
                    }
                    .todo-maker-2 {
                        width: 55%;
                        display: flex;
                        justify-content: end;
                        .todo-maker-2-1 {
                            background-image: url(../assets/videos/todomaker-2.1.gif);
                            top: 2rem;
                            right: -2rem;
                            z-index: 0;
                        }
                        .todo-maker-2-2 {
                            background-image: url(../assets/videos/todomaker-2.2.gif);
                            top: 8rem;
                            right: 2rem;
                            z-index: 1;
                        }
                    }
                }
                .todo-maker-1 {
                    width: 100%;
                    height: 60%;
                    display: flex;
                    justify-content: end;
                    .todo-maker-1-1 {
                        background-image: url(../assets/videos/todomaker-1.1.gif);
                        top: 2rem;
                        right: 7rem;
                        z-index: 0;
                        width: 27.5%;
                        height: 45%;
                    
                    }
                    .todo-maker-1-2 {
                        background-image: url(../assets/videos/todomaker-1.2.gif);
                        top: 8rem;
                        right: 11rem;
                        z-index: 1;
                        width: 27.5%;
                        height: 45%;
                    
                    }
                }
            }
        }
        .robotic-container {
            height: 100vh;
            @include center-horizontally;
            .robotic {
                width: 65%;
                height: 70%;
                @include row;
                background: linear-gradient(to left, $secondary, $primary);
                border-radius: 10px;
                .robotic-title, .robotic-desc {
                    @include row;
                    width: 12%;
                    align-items: flex-end;
                    text-transform: uppercase;
                    color: $secondary;
                    font-family: thirdFont;
                    font-size: 3.5rem;
                    gap: 1rem;
                }
                .robotic-desc {
                    width: 12%;
                    font-size: 0.85rem;
                    text-transform: none;
                    padding-bottom: 1rem;
                }
                .robotic-gifs {
                    @include column;
                    @include center-center;
                    width: 76%;
                    height: 100%;
                    margin-left: 1rem;
                    gap: 7.5%;
                    padding: 0 2rem;
                    .row {
                        @include row;
                        height: 30%;
                        width: 100%;
                        gap: 7.5%;
                    }
                    .robotic-gif {
                        @include center-center;
                        border-radius: 10px;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.25);
                        padding: 0;
                    }
                    .robotic-1 {
                        background-image: url("../assets/videos/robotic-1.gif");
                    }
                    .robotic-2 {
                        background-image: url("../assets/videos/robotic-2.gif");
                    }
                    .robotic-3 {
                        background-image: url("../assets/videos/robotic-4.gif");
                    }
                    .robotic-4 {
                        background-image: url("../assets/videos/robotic-6.gif");
                    }
                }
            }
        }
    }
    .about-container {
        height: 100vh;
        @include column;
        padding-left: 10rem;
        .about-title {
            @include row;
            p {
                font-family: primaryFont;
                font-size: 10rem;
                color: $secondary;
                margin: 0;
            }
        }
        .about {
            @include column;
            height: 100%;
            width: 40%;
            margin-top: 2rem;
            text-transform: uppercase;
            color: $pale-green;
            font-family: thirdFont;
            font-size: 14px;
            .highlighted {
                font-size: 16px;
                color: $secondary;
                font-family: thirdFontBold;
            }
                .contacts, .social {
                    @include column;
                    margin-bottom: 2rem;
                    .title {
                        margin-bottom: 1rem;
                    }
                    .contact-data {
                        @include row;
                        align-items: center;
                        margin-bottom: 0.5rem;
                        p {
                            margin: 0;
                            text-transform: none;
                        }
                        img {
                            width: 24px;
                            height: 24px;
                            margin-right: 1rem;
                        }
                    }
                    .media-data {
                        @include row;
                        .social-icon {
                            width: 46px;
                            height: 46px;
                            background-size: cover;
                            margin-right: 2.5rem;
                            cursor: pointer;
                            box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.15);
                            &:hover {
                                box-shadow: 0 4px 10px 1px rgba(0, 0, 0, 0.15);
                                transition: all 0.4s ease-in-out;
                            }
                        }
                        .face {
                            background-image: url(../assets/logos/face.png);
                            &:hover {
                                background-image: url(../assets/logos/face-hover.png);
                            }
                        }
                        .insta {
                            width: 47px;
                            background-image: url(../assets/logos/insta.png);
                            &:hover {
                                background-image: url(../assets/logos/insta-hover.png);
                            }
                        }
                        .linkedin {
                            background-image: url(../assets/logos/linked.png);
                            &:hover {
                                background-image: url(../assets/logos/linked-hover.png);
                            }
                        }
                        .github {
                            background-image: url(../assets/logos/github.png);
                            &:hover {
                                background-image: url(../assets/logos/github-hover.png);
                            }
                        }
                    }
                }
        }
    }
}

@keyframes vibrating {
    0%   {text-shadow: 0 0 0 rgba(201, 242, 153, 0.5);}
    50%  {text-shadow: 0 0 30px rgba(201, 242, 153, 0.5);}
    100% {text-shadow: 0 0 0 rgba(201, 242, 153, 0.5);}
}

@keyframes growing {
    0%   {transform: scaleX(0);}
    100% {transform: scaleX(1)};
}

@media only screen and (max-width: 400px) {
    .main-container {
        .sidebar {
            gap: 5px !important;
            div {
                width: 8px !important;
                height: 8px !important;
            }
        }
        .name-container {
            font-size: 0.8rem !important;
            width: 15% !important;
        }
        .portfolio-container {
            p {
                font-size: 3.5rem !important;
                width: 85% !important;
                @include center-center;
            }
        }
    }
    .algomem-container {
        .algomem-intro {
            width: 85% !important;
            height: 90% !important;
            .row {
                flex-direction: column !important;
                padding: 0.5rem !important;
                height: 50% !important;
                justify-content: flex-end;
                .description {
                    height: 60% !important;
                    align-items: center !important;
                    text-align: center !important;
                    margin-right: 0 !important;
                    .project-name {
                        font-size: 1.75rem !important;
                        margin-bottom: 1.5rem !important;
                    }
                    width: 100% !important;
                }
                .algo-div {
                    margin-right: 0 !important;
                }
                .algomem-0 {
                    margin-top: 2rem;
                    width: 70% !important;
                    height: 30% !important;
                    opacity: 1 !important;
                }
            }
            .works {
                height: 50% !important;
                justify-content: center !important;
                .next, .back {
                    display: none !important;
                    width: 0 !important;
                }
                .gifs {
                    width: 100% !important;
                    display: grid !important;
                    grid-template-columns: 45% 45%;
                    grid-template-rows: 33.3% 33.3% 33.3%;
                    justify-content: center !important;
                    align-items: center !important;
                    column-gap: 5%;
                    .algo-div {
                        height: 75%  !important;
                        width: 100%  !important;
                        margin-right: 0 !important;
                    }
                }
            }
        }
    }
}