<div class="app-container">
    <section class="main-container">
      <div class="sidebar">
        @for (site of siteIndexes; track site; let idx = $index) {
          <div [class.active]="activeSite === idx" onclick="scrollToSection(site)"></div>
        }
      </div>
      <div class="name-container">Vass<br>Dorot<br>tya</div>
      <div class="portfolio-container">
        <p>p</p>
        <p class="title-animate-2">o</p>
        <p class="title-animate-3">r</p>
        <p class="title-animate-4">t</p>
        <p class="title-animate-5">f</p>
        <p class="title-animate-6">o</p>
        <p class="title-animate-7">l</p>
        <p class="title-animate-8">i</p>
        <p class="title-animate-9">o</p>
      </div>
    </section>
    <section class="works-container">
      <div class="works-header">
        <p class="animate-1">w</p>
        <p class="animate-2">o</p>
        <p class="animate-3">r</p>
        <p class="animate-4">k</p>
        <p class="animate-5">s</p>
      </div>
      <div class="algomem-container">
        <div class="algomem-intro">
            <div class="row">
                <div class="description">
                    <div class="project-name">Algomem</div>
                    <div class="small-text">
                      AlgoMeM is a new web interface that guides you through the maze of sorting algorithms!<br />
                      <br>Is it difficult to understand? <br />
                      Cant imagine how they work exactly?<br />
                      Are you confused about different algorithms?<br />
                      Simply just can't put the picture together?<br> <br />
                      AlgoMeM will help You with these! Helps You to understand, visualize and differentiate
                      the different worlds of sorting algorithms, and to make memorization faster.
                    </div>
                  </div>
                  <div class="algomem-0 algo-div"></div>
            </div>
          <div class="works">
            <div class="back">
              <img src="../assets/logos/array-right.png"/>
            </div>
            <div class="gifs">
              <div class="algomem-1 algo-div"></div>
              <div class="algomem-2 algo-div"></div>
              <div class="algomem-3 algo-div"></div>
              <div class="algomem-4 algo-div"></div>
              <div class="algomem-5 algo-div"></div>
              <div class="algomem-6 algo-div"></div>
            </div>
            <div class="next">
              <img src="../assets/logos/array-right.png"/>
            </div>
        </div>
        </div>
      </div>
      <div class="todo-maker-container">
        <div class="todo-maker">
          <div class="row">
            <div class="todo-maker-title">Todo<br> mak<br>er</div>
            <div class="todo-maker-desc">An app for creating TODOs, update them if necessary, complete them if they are executed and also mark them as important to highlight the urgent TODOs! You can add fun icons to make youre TODOs more special and separatable, or choose the theme which suits you better!</div>
            <div class="todo-maker-2">
                <div class="todo-maker-2-1 todo-maker-gif"></div>
                <div class="todo-maker-2-2 todo-maker-gif"></div>
            </div>
        </div>
        <div class="todo-maker-1">
            <div class="todo-maker-1-1 todo-maker-gif"></div>
            <div class="todo-maker-1-2 todo-maker-gif"></div>
        </div>
        </div>
      </div>
      <div class="robotic-container">
        <div class="robotic">
          <div class="robotic-title">
            <div>R<br>o<br>b<br>o<br>t<br>i<br>c</div>
            <div>L<br>o<br>g<br>i<br>c<br>s</div>
          </div>
          <div class="robotic-desc">This project <br>is a report system for an imaginary firm, called Robotic Statics.<br> It is suitable for employees to make reports of their daily work, mark their home office days and avaibilities, take leaves and keep track of their wages.
          </div>
            <div class="robotic-gifs">
              <div class="row">
                <div class="robotic-1 robotic-gif"></div>
                <div class="robotic-2 robotic-gif"></div>
              </div>
              <div class="row">              
                <div class="robotic-3 robotic-gif"></div>
                <div class="robotic-4 robotic-gif"></div>
            </div>
            </div>
          </div>
      </div>
    </section>
    <section class="about-container">
      <div class="about-title">
        <p class="animate-1">a</p>
        <p class="animate-2">b</p>
        <p class="animate-3">o</p>
        <p class="animate-4">u</p>
        <p class="animate-5">t</p>
      </div>
      <div class="about">
          <div>
            <span class="highlighted">Hi!</span> My name is Vass Dorottya and I'm a frontend developer, specialized for web development. I'm working with Angular mainly, but I'm coming up with React too. <br>I enjoy creative tasks, nice designs and challenges. I have experience in building social websites and corporate governance systems. I like diverse projects and I always strive to improve myself.
            <br><br>
            In my free time I usually paint and draw, by hand and with electrical tools. Also like making some noise on the piano and read a gook book. When I have the opportunity, I travel, expanding my knowledge about the world.
          </div>
          <div class="contacts">
            <div class="title">Contacts</div>
            <div class="contact-data">
              <img src="../assets/logos/email.png"/>
              <p>vassdorottya&#64;email.com</p>
            </div>
            <div class="contact-data">
              <img src="../assets/logos/phone.png"/>
              <p>+36 30 556 8776</p>
            </div>
          </div>
          <div class="social">
            <div class="title">Social media</div>
            <div class="media-data">
              <div class="face social-icon"></div>
              <div class="insta social-icon"></div>
              <div class="linkedin social-icon"></div>
              <div class="github social-icon"></div>
            </div>
          </div>
      </div>
    </section>
  </div>